In [1]:
# Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.graph_objects as go
# Set style & figures inline
sns.set()
%matplotlib inline

In [2]:
df= pd.read_csv( 'covid_19_data.csv')

In [3]:
df.head(5)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
0,1,01/22/2020,Anhui,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
1,2,01/22/2020,Beijing,Mainland China,1/22/2020 17:00,14.0,0.0,0.0
2,3,01/22/2020,Chongqing,Mainland China,1/22/2020 17:00,6.0,0.0,0.0
3,4,01/22/2020,Fujian,Mainland China,1/22/2020 17:00,1.0,0.0,0.0
4,5,01/22/2020,Gansu,Mainland China,1/22/2020 17:00,0.0,0.0,0.0

In [4]:
df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 116805 entries, 0 to 116804
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              116805 non-null  int64
 1   ObservationDate  116805 non-null  object
 2   Province/State   81452 non-null   object
 3   Country/Region   116805 non-null  object
 4   Last Update      116805 non-null  object
 5   Confirmed        116805 non-null  float64
 6   Deaths           116805 non-null  float64
 7   Recovered        116805 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 7.1+ MB

In [5]:
#float_col = df.select_dtypes(include=['float64']) # This will select float columns only
# list(float_col.columns.values)
#for col in float_col.columns.values:
#    df[col] = df[col].astype('int64')

In [6]:
df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 116805 entries, 0 to 116804
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              116805 non-null  int64
 1   ObservationDate  116805 non-null  object
 2   Province/State   81452 non-null   object
 3   Country/Region   116805 non-null  object
 4   Last Update      116805 non-null  object
 5   Confirmed        116805 non-null  float64
 6   Deaths           116805 non-null  float64
 7   Recovered        116805 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 7.1+ MB

In [7]:
df.describe()

                 SNo     Confirmed         Deaths     Recovered
count  116805.000000  1.168050e+05  116805.000000  1.168050e+05
mean    58403.000000  1.908217e+04     777.745473  1.117002e+04
std     33718.843434  5.825465e+04    2859.184068  6.258701e+04
min         1.000000  0.000000e+00       0.000000  0.000000e+00
25%     29202.000000  2.450000e+02       3.000000  4.000000e+00
50%     58403.000000  2.148000e+03      42.000000  4.260000e+02
75%     87604.000000  1.037400e+04     331.000000  3.829000e+03
max    116805.000000  1.242770e+06   42072.000000  2.670256e+06

In [8]:
df = df.drop(['SNo','Last Update'],axis=1)
df = df.rename(columns={'ObservationDate':'Date','Province/State':'State','Country/Region':'Country'})
df.head()

         Date      State         Country  Confirmed  Deaths  Recovered
0  01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1  01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2  01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3  01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4  01/22/2020      Gansu  Mainland China        0.0     0.0        0.0

In [9]:
df.tail()

,Date,State,Country,Confirmed,Deaths,Recovered
116800,09/23/2020,Zaporizhia Oblast,Ukraine,3149.0,49.0,1158.0
116801,09/23/2020,Zeeland,Netherlands,1270.0,72.0,0.0
116802,09/23/2020,Zhejiang,Mainland China,1282.0,1.0,1272.0
116803,09/23/2020,Zhytomyr Oblast,Ukraine,5191.0,92.0,2853.0
116804,09/23/2020,Zuid-Holland,Netherlands,29513.0,1372.0,0.0

In [10]:
confirmed = df.groupby(['Country']).sum()[['Confirmed','Recovered','Deaths']].sort_values(by=['Confirmed'], ascending=False)
confirmed.head()

           Confirmed    Recovered      Deaths
Country
US       557588267.0  174911575.0  21189260.0
Brazil   301632363.0  230105907.0  10657805.0
India    238342983.0  173210742.0   4630497.0
Russia   101499236.0   70205110.0   1582441.0
Peru      53724353.0   35921289.0   2184904.0

In [11]:
df.Date = pd.to_datetime(df.Date.astype(str), dayfirst=True, errors='coerce')

In [12]:
df.Date.head()

0   2020-01-22
1   2020-01-22
2   2020-01-22
3   2020-01-22
4   2020-01-22
Name: Date, dtype: datetime64[ns]

In [13]:
df.info()

&lt;class &#39;pandas.core.frame.DataFrame&#39;&gt;
RangeIndex: 116805 entries, 0 to 116804
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       116805 non-null  datetime64[ns]
 1   State      81452 non-null   object
 2   Country    116805 non-null  object
 3   Confirmed  116805 non-null  float64
 4   Deaths     116805 non-null  float64
 5   Recovered  116805 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 5.3+ MB

In [14]:
cumulative_confirmed = df.groupby('Date').Confirmed.sum()
cumulative_confirmed = cumulative_confirmed.groupby(cumulative_confirmed.index.to_period('y')).cumsum().reset_index()
cumulative_confirmed.head(10)

        Date   Confirmed
0 2020-01-02     12038.0
1 2020-01-03    100409.0
2 2020-01-04   1033014.0
3 2020-01-05   4376791.0
4 2020-01-06  10642643.0
5 2020-01-07  21335194.0
6 2020-01-08  39185673.0
7 2020-01-09  64935315.0
8 2020-01-22  64935870.0
9 2020-01-23  64936523.0

In [15]:
cumulative_recovered = df.groupby('Date').Recovered.sum()
cumulative_recovered = cumulative_recovered.groupby(cumulative_recovered.index.to_period('y')).cumsum().reset_index()
cumulative_recovered.head(10)

        Date   Recovered
0 2020-01-02       284.0
1 2020-01-03     43000.0
2 2020-01-04    236171.0
3 2020-01-05   1289498.0
4 2020-01-06   3985507.0
5 2020-01-07   9563191.0
6 2020-01-08  20116776.0
7 2020-01-09  37191162.0
8 2020-01-22  37191190.0
9 2020-01-23  37191220.0

In [16]:
cumulative_deaths = df.groupby('Date').Deaths.sum()
cumulative_deaths = cumulative_deaths.groupby(cumulative_deaths.index.to_period('y')).cumsum().reset_index()
cumulative_deaths.head(10)

        Date     Deaths
0 2020-01-02      259.0
1 2020-01-03     3255.0
2 2020-01-04    50064.0
3 2020-01-05   288714.0
4 2020-01-06   664257.0
5 2020-01-07  1180467.0
6 2020-01-08  1865528.0
7 2020-01-09  2722543.0
8 2020-01-22  2722560.0
9 2020-01-23  2722578.0

In [17]:
cumulative_final=pd.concat([cumulative_recovered,cumulative_confirmed.drop(['Date'],axis =1),cumulative_deaths.drop(['Date'],axis =1)],axis=1,sort=False)
cumulative_final.head(10)

        Date   Recovered   Confirmed     Deaths
0 2020-01-02       284.0     12038.0      259.0
1 2020-01-03     43000.0    100409.0     3255.0
2 2020-01-04    236171.0   1033014.0    50064.0
3 2020-01-05   1289498.0   4376791.0   288714.0
4 2020-01-06   3985507.0  10642643.0   664257.0
5 2020-01-07   9563191.0  21335194.0  1180467.0
6 2020-01-08  20116776.0  39185673.0  1865528.0
7 2020-01-09  37191162.0  64935315.0  2722543.0
8 2020-01-22  37191190.0  64935870.0  2722560.0
9 2020-01-23  37191220.0  64936523.0  2722578.0