In [1]:
# Import packages
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly
import chart_studio.plotly as py
import plotly.graph_objects as go
from pandas_datareader import data as web 
from datetime import datetime as dt
#import plotly.offline as py
# Set style & figures inline
sns.set()
%matplotlib inline

In [2]:
df= pd.read_csv( 'covid_19_data.csv')

In [3]:
df.tail(5)

,SNo,ObservationDate,Province/State,Country/Region,Last Update,Confirmed,Deaths,Recovered
116800,116801,09/23/2020,Zaporizhia Oblast,Ukraine,2020-09-24 04:23:38,3149.0,49.0,1158.0
116801,116802,09/23/2020,Zeeland,Netherlands,2020-09-24 04:23:38,1270.0,72.0,0.0
116802,116803,09/23/2020,Zhejiang,Mainland China,2020-09-24 04:23:38,1282.0,1.0,1272.0
116803,116804,09/23/2020,Zhytomyr Oblast,Ukraine,2020-09-24 04:23:38,5191.0,92.0,2853.0
116804,116805,09/23/2020,Zuid-Holland,Netherlands,2020-09-24 04:23:38,29513.0,1372.0,0.0

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116805 entries, 0 to 116804
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              116805 non-null  int64
 1   ObservationDate  116805 non-null  object
 2   Province/State   81452 non-null   object
 3   Country/Region   116805 non-null  object
 4   Last Update      116805 non-null  object
 5   Confirmed        116805 non-null  float64
 6   Deaths           116805 non-null  float64
 7   Recovered        116805 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 7.1+ MB

In [5]:
#float_col = df.select_dtypes(include=['float64']) # This will select float columns only
# list(float_col.columns.values)
#for col in float_col.columns.values:
#    df[col] = df[col].astype('int64')

In [6]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116805 entries, 0 to 116804
Data columns (total 8 columns):
 #   Column           Non-Null Count   Dtype
---  ------           --------------   -----
 0   SNo              116805 non-null  int64
 1   ObservationDate  116805 non-null  object
 2   Province/State   81452 non-null   object
 3   Country/Region   116805 non-null  object
 4   Last Update      116805 non-null  object
 5   Confirmed        116805 non-null  float64
 6   Deaths           116805 non-null  float64
 7   Recovered        116805 non-null  float64
dtypes: float64(3), int64(1), object(4)
memory usage: 7.1+ MB

In [7]:
df.describe()

                 SNo     Confirmed         Deaths     Recovered
count  116805.000000  1.168050e+05  116805.000000  1.168050e+05
mean    58403.000000  1.908217e+04     777.745473  1.117002e+04
std     33718.843434  5.825465e+04    2859.184068  6.258701e+04
min         1.000000  0.000000e+00       0.000000  0.000000e+00
25%     29202.000000  2.450000e+02       3.000000  4.000000e+00
50%     58403.000000  2.148000e+03      42.000000  4.260000e+02
75%     87604.000000  1.037400e+04     331.000000  3.829000e+03
max    116805.000000  1.242770e+06   42072.000000  2.670256e+06

In [8]:
df = df.drop(['SNo','Last Update'],axis=1)
df = df.rename(columns={'ObservationDate':'Date','Province/State':'State','Country/Region':'Country'})
df.head()

         Date      State         Country  Confirmed  Deaths  Recovered
0  01/22/2020      Anhui  Mainland China        1.0     0.0        0.0
1  01/22/2020    Beijing  Mainland China       14.0     0.0        0.0
2  01/22/2020  Chongqing  Mainland China        6.0     0.0        0.0
3  01/22/2020     Fujian  Mainland China        1.0     0.0        0.0
4  01/22/2020      Gansu  Mainland China        0.0     0.0        0.0

In [9]:
df.tail()

,Date,State,Country,Confirmed,Deaths,Recovered
116800,09/23/2020,Zaporizhia Oblast,Ukraine,3149.0,49.0,1158.0
116801,09/23/2020,Zeeland,Netherlands,1270.0,72.0,0.0
116802,09/23/2020,Zhejiang,Mainland China,1282.0,1.0,1272.0
116803,09/23/2020,Zhytomyr Oblast,Ukraine,5191.0,92.0,2853.0
116804,09/23/2020,Zuid-Holland,Netherlands,29513.0,1372.0,0.0

In [10]:
confirmed=df.loc[df['Date'] == '09/23/2020']
confirmed = confirmed.groupby(['Country']).sum()[['Confirmed','Recovered','Deaths']].sort_values(by=['Confirmed'], ascending=False)
confirmed.head()

          Confirmed  Recovered    Deaths
Country
US        6933548.0  2670256.0  201884.0
India     5646010.0  4587613.0   90020.0
Brazil    4591364.0  4046827.0  138105.0
Russia    1117487.0   920602.0   19720.0
Colombia   784268.0   662277.0   24746.0

In [11]:
df.Date = pd.to_datetime(df.Date.astype(str), dayfirst=False, errors='coerce')

In [12]:
df.Date.tail()

116800   2020-09-23
116801   2020-09-23
116802   2020-09-23
116803   2020-09-23
116804   2020-09-23
Name: Date, dtype: datetime64[ns]

In [13]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116805 entries, 0 to 116804
Data columns (total 6 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   Date       116805 non-null  datetime64[ns]
 1   State      81452 non-null   object
 2   Country    116805 non-null  object
 3   Confirmed  116805 non-null  float64
 4   Deaths     116805 non-null  float64
 5   Recovered  116805 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(2)
memory usage: 5.3+ MB

In [14]:
cumulative_confirmed = df.groupby('Date').Confirmed.sum()
cumulative_confirmed = cumulative_confirmed.groupby(cumulative_confirmed.index.to_period('y')).cumsum().reset_index()
for i in range(245,0,-1):
    cumulative_confirmed['Confirmed'].iloc[i] = cumulative_confirmed['Confirmed'].iloc[i]-cumulative_confirmed['Confirmed'].iloc[i-1]
cumulative_confirmed.head()

        Date  Confirmed
0 2020-01-22      555.0
1 2020-01-23      653.0
2 2020-01-24      941.0
3 2020-01-25     1438.0
4 2020-01-26     2118.0

In [15]:
confirmed_graph = go.Scatter(x=cumulative_confirmed.Date,y=cumulative_confirmed.Confirmed, marker=dict(color='red'))
layout = go.Layout(title='Confirmed Cases', xaxis=dict(title='Date'), yaxis=dict(title='(Number)'))
fig = go.Figure(data=[confirmed_graph], layout=layout)
py.iplot(fig,sharing='public')

In [16]:
cumulative_recovered = df.groupby('Date').Recovered.sum()
cumulative_recovered = cumulative_recovered.groupby(cumulative_recovered.index.to_period('y')).cumsum().reset_index()
for i in range(245,0,-1):
    cumulative_recovered['Recovered'].iloc[i] = cumulative_recovered['Recovered'].iloc[i]-cumulative_recovered['Recovered'].iloc[i-1]
cumulative_recovered.head(10)

        Date  Recovered
0 2020-01-22       28.0
1 2020-01-23       30.0
2 2020-01-24       36.0
3 2020-01-25       39.0
4 2020-01-26       52.0
5 2020-01-27       61.0
6 2020-01-28      107.0
7 2020-01-29      126.0
8 2020-01-30      143.0
9 2020-01-31      222.0

In [17]:
recovered_graph = go.Scatter(x=cumulative_recovered.Date,y=cumulative_recovered.Recovered, marker=dict(color='green'))
layout = go.Layout(title='Recovered Cases', xaxis=dict(title='Date'), yaxis=dict(title='(Number)'))
fig = go.Figure(data=[recovered_graph], layout=layout)
py.iplot(fig,sharing='public')

In [18]:
cumulative_deaths = df.groupby('Date').Deaths.sum()
cumulative_deaths = cumulative_deaths.groupby(cumulative_deaths.index.to_period('y')).cumsum().reset_index()
for i in range(245,0,-1):
    cumulative_deaths['Deaths'].iloc[i] = cumulative_deaths['Deaths'].iloc[i]-cumulative_deaths['Deaths'].iloc[i-1]
cumulative_deaths.head(10)

        Date  Deaths
0 2020-01-22    17.0
1 2020-01-23    18.0
2 2020-01-24    26.0
3 2020-01-25    42.0
4 2020-01-26    56.0
5 2020-01-27    82.0
6 2020-01-28   131.0
7 2020-01-29   133.0
8 2020-01-30   171.0
9 2020-01-31   213.0

In [19]:
death_graph = go.Scatter(x=cumulative_deaths.Date,y=cumulative_deaths.Deaths, marker=dict(color='black'))
layout = go.Layout(title='Deaths Cases', xaxis=dict(title='Date'), yaxis=dict(title='(Number)'))
fig = go.Figure(data=[death_graph], layout=layout)
py.iplot(fig,sharing='public')

In [20]:
cumulative_final=pd.concat([cumulative_recovered,cumulative_confirmed.drop(['Date'],axis =1),cumulative_deaths.drop(['Date'],axis =1)],axis=1,sort=False)
cumulative_final.head(10)

        Date  Recovered  Confirmed  Deaths
0 2020-01-22       28.0      555.0    17.0
1 2020-01-23       30.0      653.0    18.0
2 2020-01-24       36.0      941.0    26.0
3 2020-01-25       39.0     1438.0    42.0
4 2020-01-26       52.0     2118.0    56.0
5 2020-01-27       61.0     2927.0    82.0
6 2020-01-28      107.0     5578.0   131.0
7 2020-01-29      126.0     6165.0   133.0
8 2020-01-30      143.0     8235.0   171.0
9 2020-01-31      222.0     9925.0   213.0

In [21]:

trace_Confirmed = go.Bar(x=cumulative_final.Date,
                  y=cumulative_final.Confirmed,
                  name='Confirmed Cases',
                  marker=dict(color='red'))

trace_Recovered = go.Scatter(x=cumulative_final.Date,
                y=cumulative_final.Recovered,
                name='Recovered Cases',
                marker=dict(color='green'))

trace_Deaths = go.Scatter(x=cumulative_final.Date,
                y=cumulative_final.Deaths,
                name='Deaths',
                marker=dict(color='black'))

data = [trace_Confirmed, trace_Recovered, trace_Deaths]

layout = go.Layout(title="COVID-19 Cumulative cases",
                xaxis=dict(title='Date'),
                yaxis=dict(title='Cases'))

fig = go.Figure(data=data, layout=layout)

py.iplot(fig,sharing='public')

In [22]:
per_day_cases=cumulative_final.copy()
for i in range(245,0,-1):
    per_day_cases['Deaths'].iloc[i] = per_day_cases['Deaths'].iloc[i]-per_day_cases['Deaths'].iloc[i-1]
    per_day_cases['Confirmed'].iloc[i] = per_day_cases['Confirmed'].iloc[i]-per_day_cases['Confirmed'].iloc[i-1]
    per_day_cases['Recovered'].iloc[i] = per_day_cases['Recovered'].iloc[i]-per_day_cases['Recovered'].iloc[i-1]
per_day_cases.head(10)

        Date  Recovered  Confirmed  Deaths
0 2020-01-22       28.0      555.0    17.0
1 2020-01-23        2.0       98.0     1.0
2 2020-01-24        6.0      288.0     8.0
3 2020-01-25        3.0      497.0    16.0
4 2020-01-26       13.0      680.0    14.0
5 2020-01-27        9.0      809.0    26.0
6 2020-01-28       46.0     2651.0    49.0
7 2020-01-29       19.0      587.0     2.0
8 2020-01-30       17.0     2070.0    38.0
9 2020-01-31       79.0     1690.0    42.0

In [23]:
trace_Confirmed = go.Bar(x=per_day_cases.Date,
                  y=per_day_cases.Confirmed,
                  name='Confirmed Cases',
                  marker=dict(color='red'))

trace_Recovered = go.Bar(x=per_day_cases.Date,
                y=per_day_cases.Recovered,
                name='Recovered Cases',
                marker=dict(color='green'))

trace_Deaths = go.Bar(x=per_day_cases.Date,
                y=per_day_cases.Deaths,
                name='Deaths',
                marker=dict(color='black'))

data = [trace_Confirmed, trace_Recovered, trace_Deaths]

layout = go.Layout(title="COVID-19 per day cases",
                xaxis=dict(title='Date'),
                yaxis=dict(title='Cases'))

fig = go.Figure(data=data, layout=layout)

py.iplot(fig,sharing='public')

In [24]:
confirmed['Mortality_rate'] =( confirmed['Deaths']/confirmed['Confirmed']*100) 
confirmed['Recovery_rate'] =( confirmed['Recovered']/confirmed['Confirmed']*100) 
confirmed.head(10)

              Confirmed  Recovered    Deaths  Mortality_rate  Recovery_rate
Country
US            6933548.0  2670256.0  201884.0        2.911698      38.512115
India         5646010.0  4587613.0   90020.0        1.594400      81.254071
Brazil        4591364.0  4046827.0  138105.0        3.007930      88.139973
Russia        1117487.0   920602.0   19720.0        1.764674      82.381451
Colombia       784268.0   662277.0   24746.0        3.155299      84.445241
Peru           776546.0   636489.0   31568.0        4.065181      81.964108
Mexico         710049.0   601611.0   74949.0       10.555469      84.728096
Spain          693556.0   150376.0   31034.0        4.474621      21.681883
South Africa   665188.0   594229.0   16206.0        2.436304      89.332489
Argentina      664799.0   525486.0   14376.0        2.162458      79.044343

In [25]:
countries=confirmed.iloc[0:21]
countries=countries.reset_index()

trace_recovery_rate = go.Bar(x=countries.Country,
                  y=countries.Recovery_rate,
                  name='Recovery Rate',
                  marker=dict(color='indianred'))

trace_mortality_rate = go.Bar(x=countries.Country,
                  y=countries.Mortality_rate,
                  name='Mortality Rate',
                  marker=dict(color='brown')) 


data = [trace_recovery_rate, trace_mortality_rate]

layout = go.Layout(title="COVID-19 Recovery and Mortality rates of most effected Countries",
                xaxis=dict(title='Countries'),
                yaxis=dict(title='Rate'))

fig = go.Figure(data=data, layout=layout)

py.iplot(fig,sharing='public')

In [26]:
mortality=confirmed.sort_values(by=['Mortality_rate'], ascending=False)
mortality.head()

            Confirmed  Recovered   Deaths  Mortality_rate  Recovery_rate
Country
Yemen          2029.0     1245.0    586.0       28.881222      61.360276
MS Zaandam        9.0        0.0      2.0       22.222222       0.000000
Italy        302537.0   220665.0  35758.0       11.819381      72.938186
Mexico       710049.0   601611.0  74949.0       10.555469      84.728096
UK           412245.0     2247.0  41951.0       10.176230       0.545064

In [27]:
mortality.tail()

,Confirmed,Recovered,Deaths,Mortality_rate,Recovery_rate
Country,,,,,
Macau,46.0,46.0,0.0,0.0,100.000000
Saint Vincent and the Grenadines,64.0,64.0,0.0,0.0,100.000000
Seychelles,143.0,136.0,0.0,0.0,95.104895
Mongolia,313.0,302.0,0.0,0.0,96.485623
Cambodia,275.0,274.0,0.0,0.0,99.636364

In [28]:
recovery=confirmed.sort_values(by=['Recovery_rate'], ascending=False)
recovery.head()

,Confirmed,Recovered,Deaths,Mortality_rate,Recovery_rate
Country,,,,,
Holy See,12.0,12.0,0.0,0.0,100.0
Timor-Leste,27.0,27.0,0.0,0.0,100.0
Macau,46.0,46.0,0.0,0.0,100.0
Saint Vincent and the Grenadines,64.0,64.0,0.0,0.0,100.0
Grenada,24.0,24.0,0.0,0.0,100.0

In [29]:
recovery.tail()

             Confirmed  Recovered   Deaths  Mortality_rate  Recovery_rate
Country
Netherlands   105304.0     3143.0   6344.0        6.024463       2.984692
UK            412245.0     2247.0  41951.0       10.176230       0.545064
Serbia         33080.0        0.0    744.0        2.249093       0.000000
Sweden         89756.0        0.0   5876.0        6.546638       0.000000
MS Zaandam         9.0        0.0      2.0       22.222222       0.000000